* {
    margin: 0;
    padding: 0;
    
}


body
{
background-color:#336699;
background:url(../img/tlo1.jpg);
background-repeat:no-repeat;
    
}

#all
{
background-color:;
font-size:24px
min-width:550px;
max-width:1800px;

}


#left
{
color: #fff;
float:left;
width:69.5%;  
min-height:600px;
text-align:center;
background-color: rgba(0, 0, 0, 0.50);
    
    @media(min-width:0px & max-width:700px)
    {
      color:black;   
    }
}


#right
{
color: #fff;
float:right;
width:30.5%;
min-height:470px;
background-color: rgba(0, 0, 0, 0.70);
padding-top:130px
}

#bottom
{
clear:both;
width:100%;
min-height:110px

}

#header
{
height:110px;

}

#header h1
{
text-align:center;
position:absolute;
right:160px;
top:25px;
text-shadow:0 0 3px #000;
}

#header img
{
position:relative;

}

#left p
{
margin:0;
padding:15px;
}


#right p
{
margin:0;
padding:15px;
}

#right2 
{
height:170px;;
width:100%;
}

#right3 
{
height:170px;
width:100%;
}

ol
{
list-style-type:none;
padding:0;
margin:0;
font-size:18px;
height:110px;
line-height:2em;
text-align:center;
}

#bottom a
{
color: #fff;
}

#bottom ol li {

min-width: Calc(20% - 1px);  
height:167px;

}


ol > li
{
float:left;
width:250px;
margin-left:1px;
height:2em;
}

ol a 
{
display:block;
color:#000;
text-decoration:none;
padding:0 5px;
}

ol > li > a:hover 
{

}

ol > li:hover 
{
background-color:rgba(0,0,0,0.40);
}