body
{
position: fixed;
top: 0; 
left: 0;
right: 0;
bottom: 0;
margin: 0;
padding: 0;
background-color:#336699;
background-image: url('../img/tlo1.jpg');
background-repeat: no-repeat;
}

#left{

float: left;
width: 80%;
text-align:center;
background-color: rgba(0, 0, 0, 0.50);
color: #fff;
height: 80%;


}

#right{
color: #fff;
text-align:center;
float:left;
width: 20%;
background-color: rgba(0, 0, 0, 0.70);
height: 80%;
}

#right #header{
height: 10%;

}

#right #right2{
height: 45%;

}

#right #right3{
height: 45%;

}

#bottom{
height: 20%;
margin-left: -40px;
clear: left;
background-color: rgba(0, 0, 0, 0.80);
}

#bottom ul{
list-style-type: none;
display: -webkit-flex;
display: -moz-flex;

display: flex;
align-items: center;
justify-content: center;
}

#bottom ul li{
color: #fff;
width: 20%;
height: 100%;
display: -webkit-flex;
display: -moz-flex;

display: flex;
align-items: center;
justify-content: center;
}

#bottom ul li:hover{
background-color: rgba(0,0,0,0.40);
cursor: pointer;
}

#bottom ul li img{
width: 20%;


}
